/* Home Page */
.home-page {
    background-color: var(--bs-black);
    height: 100vh;
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center; */
}

.home-page-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--bs-light);
}

.home-page-content h1 {
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-page-content p {
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
/* Home Page */


/* Create Page */
.create-page {
    background-color: var(--bs-black);
    height: 100vh;
}

.create-page-content {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--bs-light);
}
/* Create Page */


/* Layout */
body {
    background-color: #212529;
    overflow: hidden;
}
/* Layout */