{% extends "layout.html" %}

{% block content %}
    <div class="create-page">
        <div class="create-page-content">
            <h1>
                Fill in the information below
            </h1>

            <form action="/create" method="post">
                <h3>Highest rating (fill one or more):</p>
                <input type="number" step="100" placeholder="CodeForces">
                <input type="number" step="50" placeholder="AtCoder">
                <input type="number" step="50" placeholder="LeetCode">

                <h3>Topics you know</h3>
                {% for group, topics in groups.items() %}
                    <h5>{{ group }}:</h5>

                    <div class="container text-center">
                        <div class="row row-cols-auto justify-content-md-center">
                            {% for topic in topics %}
                                <div class="col">
                                    <input type="checkbox" class="btn-check" id="{{ topic }}" autocomplete="off">
                                    <label class="btn btn-outline-primary" for="{{ topic }}">{{ topic }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                
                <input type="submit" class="btn btn-primary mt-3" value="Create Roadmap">
            </form>
        </div>
    </div>
{% endblock %}
