{% extends "layout.html" %}

{% block content %}
    <div class="create-page">
        <div class="create-page-content">
            <h1>
                Fill in the information below:
            </h1>

            <form action="/create" method="post">
                <h3>Highest rating (fill one or more):</p>
                <input type="number" step="100" placeholder="CodeForces">
                <input type="number" step="50" placeholder="AtCoder">
                <input type="number" step="50" placeholder="LeetCode">

                <h3>Topics you know:</h3>
                <div class="container text-center">
                    <div class="row row-cols-auto justify-content-md-center">
                        <div class="col">
                            <input type="checkbox" class="btn-check" id="math" autocomplete="off">
                            <label class="btn btn-outline-primary" for="math">Math</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="btn-check" id="dynamic_programming" autocomplete="off">
                            <label class="btn btn-outline-primary" for="dynamic_programming">Dynamic Programming</label>
                        </div>

                        <div class="col">
                            <input type="checkbox" class="btn-check" id="segment_tree" autocomplete="off">
                            <label class="btn btn-outline-primary" for="segment_tree">Segment Tree</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
