{% extends "layout.html" %}
    
{% block title %}
    Home | CP Companion
{% endblock %}

{% block content %}
<div class="home-page">
    <div class="home-page-content">
        <h1 class="animate__animated animate__fadeInDown animate__delay-1s">CP Companion</h1>
        <p class="animate__animated animate__fadeInUp animate__delay-2s">Your all-in-one platform for mastering competitive programming. <br> Access curated resources, track your progress, and accelerate your learning journey with CP Companion.</p>
        <a href="/create" class="btn btn-primary btn-lg animate__animated animate__bounceIn animate__delay-3s">Get Started</a>
        <a href="/progress" class="btn btn-outline-primary btn-lg animate__animated animate__bounceIn animate__delay-3s">My Progress</a>
    </div>
</div>
{% endblock %}